// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background{

background-image: url("business_idea.jpg");
background-repeat: no-repeat;
background-size: cover;
background-color: black;
background-position: center;
}

.reg_form{
  color: white;
}

.regf {
  color: white;
}

.yoo{
  color: white;
}

li {
  color: red;
  background-color: yellow;
  font-size: 20px;
}
