// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{

background-image: url("https://balcostics.files.wordpress.com/2014/02/business-idea.jpg");
background-repeat: no-repeat;
background-size: cover;
background-color: black;
background-position: center;

}

.reg_form{

  color: white;

}

.regf {
  color: white;
}

.yoo{
  color: white;
}

li {
  color: red;
}
